---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";
import { Icon } from "astro-icon/components";

type Props = HTMLAttributes<"span">;

const breadcrumbEllipsis = tv({
  base: "flex size-6 items-center justify-center [&>svg]:size-4",
});

const { class: className, ...rest } = Astro.props;
---

<span
  role="presentation"
  aria-hidden="true"
  class={breadcrumbEllipsis({ class: className })}
  {...rest}
>
  <Icon name="Ellipsis" />
  <span class="sr-only">More</span>
</span>
