---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-slate-800 dark:text-slate-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-slate-600 dark:text-slate-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="w-4/5 mx-auto grid grid-cols-2 sm:grid-cols-4 items-center justify-center gap-12 lg:gap-32"
  >
    <!-- Icons Group SVGs -->
    <!-- First Icon -->
    <svg 
      class="p-5 w-full"
      viewBox="0 0 512 512" 
      >
      <rect x="22.756" y="73.956" style="fill:#0052B4;" width="466.489" height="312.889"/>
      <polygon style="fill:#003778;" points="256.168,73.956 256.279,386.844 489.244,386.844 489.244,73.956 "/>
      <g>
        <polygon style="fill:#FFFFFF;" points="154.421,234.59 150.452,223.073 162.825,187.221 142.044,187.221 136.458,206.639 
          130.96,187.221 110.184,187.221 122.346,223.076 118.554,234.534 103.592,187.221 79.485,187.221 108.844,262.201 126.984,262.201 
          136.454,238.146 146.019,262.201 164.156,262.201 193.514,187.221 169.304,187.221 	"/>
        <polygon style="fill:#FFFFFF;" points="273.921,234.59 269.953,223.073 282.326,187.221 261.543,187.221 255.958,206.639 
          250.46,187.221 229.683,187.221 241.847,223.076 238.054,234.534 223.093,187.221 198.986,187.221 228.344,262.201 
          246.484,262.201 255.953,238.146 265.519,262.201 283.656,262.201 313.014,187.221 288.803,187.221 	"/>
        <polygon style="fill:#FFFFFF;" points="408.303,187.221 393.421,234.59 389.452,223.073 401.826,187.221 381.043,187.221 
          375.458,206.639 369.961,187.221 349.183,187.221 361.347,223.076 357.554,234.534 342.593,187.221 318.486,187.221 
          347.844,262.201 365.984,262.201 375.454,238.146 385.019,262.201 403.156,262.201 432.515,187.221 	"/>
      </g>
      <path style="fill:#93C7EF;" d="M0,375.467v17.067c0,25.095,20.416,45.511,45.511,45.511h420.978
        c25.095,0,45.511-20.416,45.511-45.511v-17.067H0z"/>
      <path style="fill:#78B9EB;" d="M256.279,375.467v62.578h210.21c25.095,0,45.511-20.416,45.511-45.511v-17.067H256.279z"/>
    </svg>    
    <!-- Second Icon -->
    <svg 
      class="p-5 w-full"
      viewBox="0 0 512 512"
      >
      <g>
        <rect x="197.818" y="381.091" style="fill:#FF5023;" width="116.364" height="34.909"/>
        <polygon style="fill:#FF5023;" points="372.277,367.216 256,165.819 139.722,367.216 109.491,349.762 256,96.001 402.509,349.762 	
          "/>
      </g>
      <path style="fill:#AED5F3;" d="M372.373,170.147c0-21.915-14.648-41.873-35.621-48.536l-7.504-2.383l-0.378-7.866
        c-1.729-35.869-31.234-63.967-67.173-63.967c-32.056,0-59.807,22.818-65.99,54.256l-1.522,7.739l-7.788,1.256
        c-26.651,4.295-46.75,27.875-46.75,54.847c0,30.633,24.922,55.553,55.554,55.553h126.274
        C349.54,221.046,372.373,198.213,372.373,170.147z"/>
      <path style="fill:#93C7EF;" d="M336.752,121.611l-7.504-2.383l-0.378-7.866c-1.729-35.869-31.234-63.967-67.173-63.967
        c-2.139,0-4.254,0.109-6.349,0.308v173.343h66.127c28.066,0,50.899-22.833,50.899-50.899
        C372.373,148.233,357.725,128.273,336.752,121.611z"/>
      <path style="fill:#AED5F3;" d="M232.727,411.199c0-21.915-14.649-41.873-35.621-48.536l-7.504-2.384l-0.378-7.865
        c-1.728-35.869-31.234-63.967-67.174-63.967c-32.055,0-59.807,22.818-65.989,54.256l-1.522,7.739l-7.788,1.256
        C20.098,355.994,0,379.573,0,406.545c0,30.633,24.922,55.554,55.554,55.554h126.274
        C209.894,462.099,232.727,439.266,232.727,411.199z"/>
      <path style="fill:#93C7EF;" d="M197.106,362.663l-7.504-2.384l-0.378-7.865c-1.728-35.869-31.234-63.967-67.174-63.967
        c-2.138,0-4.253,0.109-6.348,0.308v173.345h66.127c28.066,0,50.899-22.833,50.899-50.9
        C232.727,389.285,218.078,369.326,197.106,362.663z"/>
      <path style="fill:#AED5F3;" d="M512,413.706c0-21.915-14.648-41.872-35.621-48.536l-7.504-2.383l-0.378-7.865
        c-1.729-35.87-31.234-63.969-67.173-63.969c-32.056,0-59.809,22.818-65.99,54.256l-1.522,7.739l-7.788,1.256
        c-26.652,4.297-46.75,27.877-46.75,54.848c0,30.633,24.922,55.554,55.554,55.554h126.274C489.167,464.607,512,441.772,512,413.706z"
        />
      <path style="fill:#93C7EF;" d="M476.379,365.169l-7.504-2.383l-0.378-7.865c-1.729-35.87-31.234-63.969-67.173-63.969
        c-2.139,0-4.254,0.109-6.349,0.308v173.345h66.127c28.066,0,50.899-22.834,50.899-50.9C512,391.791,497.352,371.834,476.379,365.169
        z"/>
    </svg>     
    <!-- Third Icon -->
    <svg 
      class="p-5 w-full"
      viewBox="0 0 511.999 511.999" 
      >
      <rect y="124.799" style="fill:#BEDDF5;" width="499.2" height="307.2"/>
      <rect x="249.6" y="124.799" style="fill:#93C7EF;" width="249.6" height="307.2"/>
      <rect y="35.199" style="fill:#0052B4;" width="499.2" height="102.4"/>
      <circle style="fill:#FF5023;" cx="76.8" cy="86.399" r="19.2"/>
      <circle style="fill:#FFDA44;" cx="140.8" cy="86.399" r="19.2"/>
      <circle style="fill:#91DC5A;" cx="204.8" cy="86.399" r="19.2"/>
      <g>
        <rect x="96" y="233.599" style="fill:#FFFFFF;" width="128" height="38.4"/>
        <rect x="96" y="310.399" style="fill:#FFFFFF;" width="128" height="38.4"/>
        <rect x="275.2" y="233.599" style="fill:#FFFFFF;" width="128" height="38.4"/>
        <rect x="275.2" y="310.399" style="fill:#FFFFFF;" width="153.6" height="38.4"/>
      </g>
      <rect x="249.6" y="35.199" style="fill:#003778;" width="249.6" height="102.4"/>
      <rect x="94.72" y="310.399" style="fill:#FFFFFF;" width="128" height="38.4"/>
      <path style="fill:#006DF0;" d="M502.45,420.982l-104.87-104.87c-6.159-6.159-14.373-9.55-23.133-9.55s-16.975,3.391-23.133,9.55
        c-6.159,6.159-9.55,14.374-9.55,23.133c0,8.759,3.392,16.974,9.55,23.133l104.87,104.87c6.159,6.158,14.374,9.55,23.133,9.55
        c8.759,0,16.974-3.392,23.132-9.55c6.159-6.161,9.55-14.374,9.55-23.133C511.999,435.357,508.608,427.142,502.45,420.982z"/>
      <circle style="fill:#FFFFFF;" cx="371.2" cy="335.82" r="89.6"/>
      <path style="fill:#003778;" d="M371.2,444.625c-59.992,0-108.8-48.808-108.8-108.8s48.808-108.8,108.8-108.8
        S480,275.833,480,335.825S431.192,444.625,371.2,444.625z M371.2,265.425c-38.819,0-70.4,31.581-70.4,70.4s31.581,70.4,70.4,70.4
        s70.4-31.581,70.4-70.4S410.019,265.425,371.2,265.425z"/>
    </svg>
      <!-- Fourth Icon -->
    <svg 
      class="p-5 w-full"
      viewBox="0 0 512 512"
      >
      <rect x="58.182" y="31.773" style="fill:#006DF0;" width="221.091" height="267.636"/>
      <rect x="168.727" y="31.773" style="fill:#0052B4;" width="110.545" height="267.636"/>
      <circle style="fill:#003778;" cx="168.727" cy="84.143" r="17.455"/>
      <rect x="58.182" y="293.597" style="fill:#78B9EB;" width="221.091" height="64"/>
      <g>
        <path style="fill:#FF5023;" d="M395.636,160.227h-34.909c0-28.873-23.49-52.364-52.364-52.364V72.954
          C356.486,72.954,395.636,112.105,395.636,160.227z"/>
        <path style="fill:#FF5023;" d="M87.273,445.318C39.151,445.318,0,406.167,0,358.045h34.909c0,28.873,23.491,52.364,52.364,52.364
          V445.318z"/>
      </g>
      <rect x="133.539" y="183.494" style="fill:#003778;" width="361.286" height="239.709"/>
      <rect x="314.182" y="183.494" width="180.643" height="239.709"/>
      <path style="fill:#93C7EF;" d="M116.364,410.409v23.273c0,25.665,20.879,46.545,46.545,46.545h302.545
        c25.666,0,46.545-20.88,46.545-46.545v-23.273H116.364z"/>
      <path style="fill:#78B9EB;" d="M314.209,410.409v69.818h151.246c25.666,0,46.545-20.88,46.545-46.545v-23.273H314.209z"/>
    </svg>
  </div>
</section>
