---
import { Icon } from "astro-icon/components";
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2">
    <h2
      class="text-2xl leading-tight font-bold text-balance text-slate-800 sm:text-3xl dark:text-slate-200"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="leading-tight text-pretty text-slate-600 dark:text-slate-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="mx-auto grid w-4/5 grid-cols-2 items-center justify-center gap-12 sm:grid-cols-4 lg:gap-16 xl:gap-24"
  >
    <!-- Icons Group SVGs -->
    <Icon name="LaptopOpen" class="h-auto w-full p-5" />
    <Icon name="CloudConnected" class="h-auto w-full p-5" />
    <Icon name="BrowserSearch" class="h-auto w-full p-5" />
    <Icon name="LaptopPhone" class="h-auto w-full p-5" />
  </div>
</section>
