---
import { Button } from "@/components/starwind/button";
import AniamtedEndPageSvgs from "@/components/ui/blocks/AnimatedEndPageSvgs.astro";
import ChatFill from "@/icons/ChatFill.svg";

const title = "We Connect You to the World";
const subTitle =
  "Contact us today to see how our solutions can help solve your web app problems so you can get back to running your business.";
const url = "/contact/";
const btnTitle = "Contact Us";
---

<section class="mx-auto max-w-5xl space-y-8 py-8">
  <!-- Animated SVG graphics -->
  <AniamtedEndPageSvgs />

  <!-- Hero Section Heading -->
  <div class="mx-auto mt-5 max-w-xl text-center">
    <h2
      class="text-4xl leading-tight font-bold tracking-tight text-balance text-slate-800 md:text-5xl lg:text-6xl dark:text-slate-200"
    >
      {title}
    </h2>
  </div>
  <!-- Hero Section Sub-heading -->
  <p class="text-center text-lg text-pretty text-slate-800 dark:text-cyan-300">
    {subTitle}
  </p>
  <!-- End Page CTA Button -->
  <div class="mt-8 flex justify-center">
    <Button variant="secondary" size="lg" href={url}>
      <ChatFill />
      {btnTitle}
    </Button>
  </div>
</section>
