---
// Import the necessary dependencies
import EndPageCTABtn from "@/components/ui/buttons/EndPageCTABtn.astro";
import { Icon } from "astro-icon/components";

// Define props from Astro
const { title, subTitle, url } = Astro.props;

const btnTitle = "Contact Us";

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  url?: string;
}
---

<section
  class="relative mx-auto max-w-[85rem] px-4 pt-10 pb-24 sm:px-6 lg:px-8"
>
  <!-- Decorating SVG elements -->
  <div
    class="absolute top-[60%] left-0 max-md:scale-50 sm:top-[50%] md:top-[50%] md:left-0"
  >
    <Icon name="CodeBrackets" class="size-[120px]" />
  </div>
  <div class="absolute -top-[10%] right-[5%] scale-[60%] md:scale-[80%]">
    <Icon name="CloudCompute" class="size-[120px]" />
  </div>
  <div
    class="absolute right-0.5 bottom-0.5 scale-50 sm:right-[15%] md:right-[20%] md:bottom-[10%] md:scale-[80%]"
  >
    <Icon name="ComputerGlobe" class="size-[120px]" />
  </div>
  <!-- Hero Section Heading -->
  <div class="mx-auto mt-5 max-w-xl text-center">
    <h2
      class="block text-4xl leading-tight font-bold tracking-tight text-balance text-slate-800 md:text-5xl lg:text-6xl dark:text-slate-200"
    >
      {title}
    </h2>
  </div>
  <!-- Hero Section Sub-heading -->
  <div class="mx-auto mt-5 max-w-3xl text-center">
    {
      subTitle && (
        <p class="text-lg text-pretty text-slate-800 dark:text-cyan-300">
          {subTitle}
        </p>
      )
    }
  </div>
  <!-- End Page CTA Button -->
  {
    url && (
      <div class="mt-8 flex justify-center gap-3">
        <EndPageCTABtn btnURL={url} title={btnTitle} />
      </div>
    )
  }
</section>
