---
import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";

// Destructure the props passed to the Astro component
const { title, subTitle, btnExists, btnTitle, btnURL } = Astro.props;
// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
}
---

<!-- Root section of the component -->
<section>
  <div class="max-w-3xl">
    <!-- Section title -->
    <h1
      class="mb-4 text-5xl font-extrabold text-balance text-slate-800 dark:text-slate-200"
    >
      {title}
    </h1>
    <!-- Section subtitle -->
    <p
      class="mb-8 max-w-prose font-light text-pretty text-slate-600 sm:text-xl dark:text-slate-200"
    >
      {subTitle}
    </p>
    <!-- Conditional rendering of PrimaryCTA component if 'btnExists' property is truthy -->
    {
      btnExists ? (
        <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
          <Button variant="secondary" href={btnURL}>
            <Icon name="ChatAnimate" class="size-6" />
            {btnTitle}
          </Button>
        </div>
      ) : null
    }
  </div>
</section>
