---
import { Icon } from "astro-icon/components";

const { count, description, index } = Astro.props;

interface Props {
  count: string;
  description: string;
  index: number;
}
---

<li class="-m-0.5 flex flex-col p-3 sm:p-6">
  <div class="mb-2 flex items-center">
    {
      index === 0 || index === 2 ? (
        <Icon class="size-12 rotate-180 text-orange-400" name="ArrowBracket" />
      ) : null
    }
    {
      index === 1 || index === 3 ? (
        <Icon class="size-12 text-cyan-400" name="ArrowBracket" />
      ) : null
    }
    <span
      class="text-3xl font-bold text-slate-800 dark:text-slate-200 sm:text-4xl"
      >{count}</span
    >
  </div>
  <p class="text-sm text-slate-800 dark:text-slate-200 sm:text-base">
    {description}
  </p>
</li>
