---
import ArrowBracketLeft from "@/icons/ArrowBracketLeft.svg";
import ArrowBracketRight from "@/icons/ArrowBracketRight.svg";

const { count, description, index } = Astro.props;

interface Props {
  count: string;
  description: string;
  index: number;
}
---

<li class="-m-0.5 flex flex-col p-4 sm:p-6">
  <div class="mb-2 flex items-center">
    {
      index === 0 || index === 2 ? (
        <ArrowBracketLeft class="size-12 text-orange-400" />
      ) : null
    }
    {
      index === 1 || index === 3 ? (
        <ArrowBracketRight class="size-12 text-cyan-400" />
      ) : null
    }
    <span
      class="text-3xl font-bold text-slate-800 sm:text-4xl dark:text-slate-200"
      >{count}</span
    >
  </div>
  <p class="text-sm text-slate-800 sm:text-base dark:text-slate-200">
    {description}
  </p>
</li>
