---
import { Icon } from "astro-icon/components";
import FeatureGraphic from "@/images/products/product-features-graphic.svg";

// Define props from Astro
const { title, subTitle, benefits } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<string>;
}
---

<section class="w-full py-10 lg:py-14">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 sm:items-center sm:gap-16">
    <div class="m-6 rounded-lg bg-slate-600/70 dark:bg-slate-700/80">
      <FeatureGraphic class="rounded-xl" />
    </div>
    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <div class="space-y-2 md:space-y-4">
          <h2
            class="text-3xl font-bold text-balance text-slate-800 lg:text-4xl dark:text-slate-200"
          >
            {title}
          </h2>
          {
            subTitle && (
              <p class="text-pretty text-slate-800 dark:text-slate-200">
                {subTitle}
              </p>
            )
          }
        </div>
        {
          benefits && (
            <ul class="space-y-2 sm:space-y-4">
              {benefits.map((item) => (
                <li class="flex space-x-3">
                  <Icon
                    name="CheckFill"
                    class="size-6 flex-none text-orange-400 dark:text-orange-300"
                  />
                  <span class="text-base font-medium text-pretty text-slate-800 dark:text-slate-200">
                    {item}
                  </span>
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
  </div>
</section>
