---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

const { product } = Astro.props;

interface Props {
  product: CollectionEntry<"products">;
}
// Define classes to be used with the Image component
const imageClass =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<!-- A clickable card that leads to the details of the product-->
<a
  href={"/products/" + product.slug}
  data-astro-prefetch
  class="group relative flex h-48 items-end overflow-hidden rounded-xl bg-cobalt-50 shadow-lg outline-none ring-slate-500 focus-visible:ring dark:bg-cobalt-900 dark:ring-slate-200 dark:focus:outline-none md:h-80"
>
  <!-- The product's main image -->
  <Image
    src={product.data.main.imgCard}
    alt={product.data.main.imgAlt}
    draggable={"false"}
    class={imageClass}
    format={"avif"}
    width="448"
    loading={"eager"}
  />
  <!-- An overlay gradient that sits on top of the product image-->
  <div
    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-slate-800 via-transparent to-transparent opacity-50"
  >
  </div>
  <!-- This container includes product's title -->
  <div class="relative w-full bg-slate-200/90 dark:bg-slate-800/90">
    <span
      class="my-3 ml-4 inline-block text-xl font-bold text-orange-600 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 dark:text-orange-400 md:ml-8 md:text-2xl"
      >{product.data.title}
      <Icon
        name="Arrow"
        class="inline transition duration-[600ms] ease-in-out group-hover:-rotate-45"
      />
    </span>
  </div>
</a>
