---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

const { product } = Astro.props;

interface Props {
  product: CollectionEntry<"products">;
}
---

<!-- The anchor tag is the main container for the product card. When clicked, this leads to the details of the product. -->
<a
  href={"/products/" + product.slug}
  data-astro-prefetch
  class="group bg-cobalt-100 dark:bg-cobalt-900 relative flex h-48 items-end overflow-hidden rounded-lg shadow-xl ring-slate-500 outline-none focus-visible:ring md:col-span-2 md:h-80 dark:ring-slate-200 dark:focus:outline-none"
>
  <!-- The product's main image -->
  <Image
    src={product.data.main.imgCard}
    alt={product.data.main.imgAlt}
    draggable="false"
    class="absolute inset-0 !h-full w-full transition duration-300 ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110"
    format="avif"
  />
  <!-- This container includes a gradient overlay over the product's image -->
  <div
    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-slate-800 via-transparent to-transparent opacity-50"
  >
  </div>
  <!-- This container includes product's title -->
  <div class="relative w-full bg-slate-200/90 dark:bg-slate-800/90">
    <span
      class="mx-5 my-3 inline-block text-xl font-bold text-orange-600 transition duration-300 ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:mx-8 lg:text-2xl dark:text-orange-400"
      >{product.data.title}
      <Icon
        name="Arrow"
        class="inline transition duration-300 ease-in-out group-hover:-rotate-45"
      />
    </span>
  </div>
</a>
