---
import { Icon } from "astro-icon/components";
---

<!-- Menu Toggle button for small screens -->
<button
  type="button"
  class="hs-collapse-toggle flex size-10 items-center justify-center rounded-full text-sm font-bold text-slate-100 transition duration-300 hover:bg-orange-600 disabled:pointer-events-none disabled:opacity-50 dark:text-slate-100 dark:focus:outline-none"
  data-hs-collapse="#navbar-collapse-with-animation"
  aria-controls="navbar-collapse-with-animation"
  aria-label="Toggle navigation"
>
  <!-- Menu Icon -->
  <Icon name="MobileMenu" class="hs-collapse-open:hidden size-6 shrink-0" />
  <!-- Close (X) Icon -->
  <Icon
    name="CloseNoFill"
    class="hs-collapse-open:block hidden size-6 shrink-0"
  />
</button>
