---
import { Icon } from "astro-icon/components";
---

<!-- Dark Theme Toggle Button --><!-- This button is shown when the light theme is active, and when clicked, it switches the theme to dark -->
<button
  type="button"
  aria-label="Dark Theme Toggle"
  class="hs-dark-mode group hs-dark-mode-active:hidden flex size-10 items-center justify-center rounded-full font-medium text-slate-100 ring-zinc-500 transition duration-300 outline-none hover:bg-orange-600 dark:ring-zinc-200 dark:hover:text-orange-300 dark:focus:outline-none"
  data-hs-theme-click-value="dark"
>
  <!-- The SVG displayed shows a moon icon to activate dark mode -->
  <Icon name="Moon" class="size-8 shrink-0" />
</button>
<!-- Light Theme Toggle Button -->
<!-- This button is hidden by default and only appears when the dark theme is active, when clicked, it switches to the light theme -->
<button
  type="button"
  aria-label="Light Theme Toggle"
  class="hs-dark-mode group hs-dark-mode-active:flex hidden size-10 items-center justify-center rounded-full font-medium text-slate-100 ring-zinc-500 transition duration-300 outline-none dark:ring-zinc-200 dark:hover:bg-cyan-500 dark:focus:outline-none"
  data-hs-theme-click-value="light"
>
  <!-- The SVG displayed shows a sun icon to activate light mode -->
  <Icon name="Sun" class="size-8 shrink-0" />
</button>
