---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

const selectLabel = tv({ base: "py-1.5 pr-2 pl-8 font-semibold" });

const { class: className, ...rest } = Astro.props;
---

<div class={selectLabel({ class: className })} {...rest}>
  <slot />
</div>
