---
const {
  label = Astro.currentLocale === "fr" ? "E-mail" : "Email",
  id,
  inputName,
} = Astro.props;

interface Props {
  label?: string;
  id: string;
  inputName: string;
}
---

<!-- Container for the label and email input field -->
<div>
  <!-- Label for the email input field, visually hidden but accessible to screen readers -->
  <label for={id} class="sr-only">{label}</label>
  <!-- Email input field -->
  <input
    type="email"
    name={inputName}
    id={id}
    autocomplete="email"
    class="bg-cobalt-50 block w-full rounded-lg border-2 border-slate-400 px-4 py-3 text-sm text-slate-800 placeholder:text-slate-800 focus:border-slate-400 focus:ring focus:ring-cyan-400 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:bg-slate-700 dark:text-slate-100 dark:placeholder:text-slate-100"
    placeholder="Email Address"
    required
  />
</div>
